{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
    <form action="/new" method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        Title: <br>
        <input type="text" name="post_title"><br>
        Body: <br>
        <input type="textarea" name="post_body" id='body-box'><br>
        <input type="submit" name="Post!">
    </form>
{% else %}
<div class='post'>
    <p>You must be logged in to perform this action</p><br>
    <p>You can take the first step using the links in the top right!</p>
</div>
{% endif %}
{% endblock %}