<!DOCTYPE html>
<html>
<link href= '/static/layout.css' rel="stylesheet" type="text/css">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<div id="logged-in">
  {% if session.logged_in %}
  <a href='/logout'>Logout</a>
  {% else %}
  <a href='/login'>Login</a><b>   |   </b><a href='/register'>Register</a>
  {% endif %}
</div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
<div id="sidebar">
<h4>Navigation</h4>
<a href="/">Home</a><br>
<a href='/new'>Write a new post</a>
</div>
<body id='bodies'>
  {% block body %}{% endblock %}
</body>
</html>
